<div>
  <h2>Lost Password</h2>

  <form [formGroup]="lostPasswordForm" (ngSubmit)="submitForm(lostPasswordForm.value)">
    <div [ngClass]="{'has-error':!lostPasswordForm.controls['email'].valid && lostPasswordForm.controls['email'].touched}">
      <label>Email:</label>
      <input type="text" placeholder="John" [formControl]="lostPasswordForm.controls['email']">
      <div *ngIf="lostPasswordForm.controls['email'].hasError('required') && lostPasswordForm.controls['email'].touched">
        You must include email.
      </div>
    </div>
    <div>
      <button type="submit" [disabled]="!lostPasswordForm.valid">Submit</button>
    </div>
  </form>
</div>
